appdirs==1.4.3
backports-abc==0.5
Click==7.0
futures==3.2.0
Jinja2==2.10
livereload==2.5.2
Markdown==3.0.1
MarkupSafe==1.0
mkdocs==1.0.4
mkdocs-material==3.0.4
packaging==16.8
Pygments==2.2.0
pymdown-extensions==5.0
pyparsing==2.2.0
PyYAML==3.13
singledispatch==3.4.0.3
six==1.11.0
tornado==5.1.1
