.fastcut > * {
  min-width: 25em;
  min-height: 20em;
}
.heading {
  font-size: 150%;
  font-weight: bold;
  margin: .5em 0;
}
.subheading {
  font-weight: bold;
  margin: .25em 0;
}
.timeline-container {
  background-color: #aaa;
  border-top: 1pt solid #888;
  padding: 0 2px 2pt 2px;
}
.timeline .sequence {
  border-top: 2pt solid #bbb;
  background-color: #bbb;
}
.timeline .parallel {
  padding-top: 2pt;
}
.timeline .empty {
  min-width: 5em;
}

.timeline .empty .audio,
.timeline .empty .video {
  background-color: #d99;
  box-shadow: inset 0pt 0pt 2pt rgba(0, 0, 0, 0.5);
}

.timeline .sequence .video,
.timeline .sequence .audio {
  min-height: 2.5em;
}
.timeline .sequence .video {
  border-bottom: 2pt solid #aaa;
}
.timeline .sequence .video .clip button {
  background-image: none;
  background-color: #00cd9a;
}
.timeline .sequence .audio .clip button {
  background-image: none;
  background-color: #cdad00;
}
.timeline .composition.transitively-focused {
  background: #bbb;
}

.timeline .composition.focused {
  padding-top: 0;
  border-top: 2pt solid #fff;
}

.timeline .clip button,
.timeline .gap button {
  padding: 2px;
  border: 1pt solid rgba(0, 0, 0, .2);
  margin: 0 2pt;
}
.timeline .clip button {
  box-shadow: inset 1pt 0pt 1pt rgba(255, 255, 255, 0.2);
}
.timeline .gap button {
  background-color: #777;
  background-image: url('stripes.png');
  background-size: 1.5em;
  background-repeat: repeat;
  box-shadow: inset 1pt 0pt 1pt rgba(255, 255, 255, 0.2);
}
.timeline .clip.focused button,
.timeline .gap.focused button {
  padding: 1px;
  border-width: 2pt;
  border-color: #eee;
  border-style: solid;
}
.timeline .clip.focused button {
  background-color: rgba(255, 255, 255, 0.25);
}
.timeline .gap.focused button {
  background-color: #ccc;
}

.library .clip {
  padding: 10px;
}

.import-view {
  padding: 1em;
}

.library,
.dialog,
.prompt,
.progress-bar,
.help-container {
  padding: 1em;
}

.help {
  min-width: 25em;
  min-height: 50em;
}

.key-map-entry {
  margin: .5em 0;
}
.key-combo {
  font-family: monospace;
  font-weight: bold;
  border: 1pt solid #999;
  margin-right: .5em;
  padding: .5em .75em;
  background: #ddd;
  border-radius: .3em;
  box-shadow: inset 1pt 1pt 1pt #fff;
}
