.fastcut > * {
  min-width: 25em;
  min-height: 20em;
}
.heading {
  font-size: 150%;
  font-weight: bold;
  margin: .5em 0;
}
.subheading {
  font-weight: bold;
  margin: .25em 0;
}
.timeline-container {
  background-color: #ccc;
  border-top: 1pt solid #aaa;
  padding: 2pt;
}
.timeline .sequence {
  border: 2pt solid #aaa;
  margin-left: 5pt;
  background-color: #aaa;
}
.timeline .sequence:first-child {
  margin-left: 0;
}
.timeline .parallel {
  border: 2pt solid #888;
  background-color: #bbb;
  margin-left: 2pt;
}
.timeline .parallel:first-child {
  margin-left: 0;
}
.timeline .empty {
  min-width: 5em;
}

.timeline .empty .audio,
.timeline .empty .video {
  background-color: #d99;
}

.timeline .sequence .video,
.timeline .sequence .audio {
  min-height: 2.5em;
}
.timeline .sequence .video {
  border-bottom: 2pt solid #888;
}
.timeline .sequence .video .clip button {
  background-image: none;
  background-color: #00cd9a;
}
.timeline .sequence .audio .clip button {
  background-image: none;
  background-color: #cdad00;
}
.timeline .composition.transitively-focused {
  background: #bbb;
}

.timeline .sequence.focused {
  border-color: #fff;
}
.timeline .parallel.focused {
  border-color: #fff;
}

.timeline .clip button,
.timeline .gap button {
  padding: 2pt;
  box-shadow: inset 0pt 0pt 1pt #000;
  border-radius: 0;
}
.timeline .clip button {
}
.timeline .gap button {
  background-color: #777;
  background-image: url('stripes.png');
  background-size: 1.5em;
  background-repeat: repeat;
}
.timeline .clip.focused button,
.timeline .gap.focused button {
  border: 2pt solid #eee;
}
.timeline .clip.focused button {
  background-color: rgba(255, 255, 255, 0.25);
}
.timeline .gap.focused button {
  background-color: #ccc;
}

.library .clip {
  padding: 10px;
}

.import-view {
  padding: 1em;
}

.library,
.dialog,
.prompt,
.progress-bar,
.help-container {
  padding: 1em;
}

.help {
  min-width: 25em;
  min-height: 50em;
}

.key-map-entry {
  margin: .5em 0;
}
.key-combo {
  font-family: monospace;
  font-weight: bold;
  border: 1pt solid #999;
  margin-right: .5em;
  padding: .5em .75em;
  background: #ddd;
  border-radius: .3em;
  box-shadow: inset 1pt 1pt 1pt #fff;
}
