.heading {
  font-size: 150%;
  font-weight: bold;
  margin: .5em 0;
}
.subheading {
  font-weight: bold;
  margin: .25em 0;
}
.preview-pane {
  min-width: 25em;
  min-height: 20em;
  background: #000;
  color: #eee;
}
.timeline-container {
  border-top: 1pt solid rgba(0,0,0,.2);
  border-bottom: 1pt solid rgba(0,0,0,.2);
  padding: 2pt;
}
.timeline .sequence {
  border: 2pt solid rgba(0,0,0,.2);
  margin-left: 5pt;
}
.timeline .sequence:first-child {
  margin-left: 0;
}
.timeline .parallel {
  border: 2pt solid rgba(0,0,0,.2);
  margin-left: 2pt;
}
.timeline .parallel:first-child {
  margin-left: 0;
}
.timeline .track {
  border: 2pt solid rgba(0,0,0,.2);
}
.timeline .empty {
  min-width: 5em;
}

.timeline .empty .audio,
.timeline .empty .video {
}

.timeline .sequence .video,
.timeline .sequence .audio {
  min-height: 25pt;
}
.timeline .sequence .video {
  border-bottom: 2pt solid rgba(0,0,0,.2);
}
.timeline .sequence .video .clip button {
  background-image: none;
  background-color: #00cd9a;
}
.timeline .sequence .audio .clip button {
  background-image: none;
  background-color: #cdad00;
}
.timeline .composition.transitively-focused {
  background: rgba(255,255,255,.05);
}

.timeline .sequence.focused {
  border-color: rgba(255,255,255,.8);
}
.timeline .parallel.focused {
  border-color: rgba(255,255,255,.8);
}
.timeline .track.focused {
  border-color: rgba(255,255,255,.8);
}

.timeline .clip button,
.timeline .gap button {
  padding: 0;
  min-width: 0;
  box-shadow: inset 0pt 0pt 2pt #000;
  border-radius: 0;
}
.timeline .gap button {
  background-color: #777;
  background-image: url('stripes.png');
  background-size: 1.5em;
  background-repeat: repeat;
}
.timeline .clip.focused button,
.timeline .gap.focused button {
  border: 2pt solid rgba(255,255,255,.8);
}
.timeline .clip.focused button {
  background-color: rgba(255, 255, 255, 0.25);
}
.timeline .gap.focused button {
  background-color: #ccc;
}

.sidebar {
  padding: 1em;
}
.sidebar-heading {
  font-weight: bold;
  border-bottom: 1px solid rgba(0,0,0,.2);
  padding-bottom: 5pt;
  margin-bottom: 5pt;
}
* + .sidebar-heading {
  margin-top: 20pt;
}
.sidebar-entry *:first-child {
  padding-right: 5pt;
}


.import-view {
  padding: 1em;
}

.library,
.prompt,
.progress-bar,
.help-container {
  padding: 1em;
}

.preview.dialog {
  padding: 0;
}

.help {
  min-width: 250pt;
  min-height: 300pt;
}

.key-map-entry {
  margin: .5em 0;
}
.key-combo {
  font-family: monospace;
  font-weight: bold;
  border: 1pt solid #999;
  margin-right: .5em;
  padding: .5em .75em;
  background: #ddd;
  border-radius: .3em;
  box-shadow: inset 1pt 1pt 1pt #fff;
}

.bottom-bar {
  padding: 0 5pt;
  font-size: 90%;
}
.zoom-level {
  min-width: 5em;
}

.welcome-screen .title {
  margin: 2em 0 .5em;
  font-weight: bold;
  font-size: 175%;
}
.welcome-screen .subtitle {
  margin-bottom: 1em;
  font-size: 125%;
}
.welcome-screen .actions {
  padding: 2em;
}
.welcome-screen .actions button {
  margin: .5em 0;
}

.dialog {
  padding: 10pt;
}
.dialog .choices {
  margin-top: 10pt;
}
.dialog .choice {
  margin-left: 2pt;
}
.dialog .choice:first-child {
  margin-left: 0;
}
